@model AddharVerification.Models.Passport

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Passport</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FName" class="control-label"></label>
                <input asp-for="FName" class="form-control" />
                <span asp-validation-for="FName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LName" class="control-label"></label>
                <input asp-for="LName" class="form-control" />
                <span asp-validation-for="LName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MobileNum" class="control-label"></label>
                <input asp-for="MobileNum" class="form-control" />
                <span asp-validation-for="MobileNum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlaceOfBirth" class="control-label"></label>
                <input asp-for="PlaceOfBirth" class="form-control" />
                <span asp-validation-for="PlaceOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpiryDate" class="control-label"></label>
                <input asp-for="ExpiryDate" class="form-control" />
                <span asp-validation-for="ExpiryDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DOB" class="control-label"></label>
                <input asp-for="DOB" class="form-control" />
                <span asp-validation-for="DOB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CivilStatus" class="control-label"></label>
                <input asp-for="CivilStatus" class="form-control" />
                <span asp-validation-for="CivilStatus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Occupation" class="control-label"></label>
                <input asp-for="Occupation" class="form-control" />
                <span asp-validation-for="Occupation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NameOfMother" class="control-label"></label>
                <input asp-for="NameOfMother" class="form-control" />
                <span asp-validation-for="NameOfMother" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NameOfFather" class="control-label"></label>
                <input asp-for="NameOfFather" class="form-control" />
                <span asp-validation-for="NameOfFather" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Citizenship" class="control-label"></label>
                <input asp-for="Citizenship" class="form-control" />
                <span asp-validation-for="Citizenship" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Photo" class="control-label"></label>
                <input asp-for="Photo" class="form-control" />
                <span asp-validation-for="Photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationMemberId" class="control-label"></label>
                <select asp-for="ApplicationMemberId" class="form-control" asp-items="ViewBag.ApplicationMemberId"></select>
                <span asp-validation-for="ApplicationMemberId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
